<div id='main-view'>
	<div id='deal-container'>
		<% @deals.each do |deal| %>
			<div class='deal'>
				<h4 id='deal-biz-name'><%= deal.biz_name %></h4>
				<p id='deal-title'><%= deal.deal_title %></p>				
				<img id='deal-pic' src="<%= deal.deal_image_small %>">			
			</div>
		<% end %>		
	</div>
</div>

<div class='footer'>
	<span id='about' class='footer-button'>About</span>
	<span class='footer-button'>
		<a id='blog' href="http://thisisnthappiness.com/">Blog</a>
	</span>
	<span class='footer-button'>
		<%= link_to 'Logout', sessions_path, method: :delete, :id => 'logout' %>
	</span>
</div>
