<span id='deal-description'>
	<h3>biz name</h3>
	<p>description here</p>
</span>
<span>
	<img id='deal-description-image' src="http://www.placecage.com/200/300">
</span>

<span class='deal-buttons'>
	<button id='save-deal-button' >Save</button>
	<button id='buy-deal-button'>
		<a href='http://www.google.com'>Buy</a>
	</button>
</span>

<p id='deal-price'>Price '(discount amount)'</p>