<div id='login-container'>
	<div id='main-view'>
		<h2 class='tagline'>DEALS MADE EASY</h2>
		<p>Sign up to shop.</p>
		<input class='user-signup' name ='email' autocomplete='on' type="email" placeholder="Enter email address" required>
		<button id='signup-button' class='submit-button' type='submit'><%= link_to 'CONTINUE', new_user_path %></button>
		<p id='terms-of-use'>By signing up, you agree to Dealr's <a href="http://www.google.com">Terms of Use</a></p>

		<div class='footer' id='sign-up-footer'>
			<span>Already a member?</span>
			<span class='sign-in-link'><%= link_to 'Sign In', sessions_new_path %></span>
			<span class='wingdings'>4</span>
		</div>
	</div>
</div>