<!DOCTYPE html>
<html>
<head>
  <title>DealrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id='login-container'>
		<h2 id='logo'>DEALR</h2>
		<div id='login'></div>
	</div>

	<template id='sign-up-modal'>
		<h2 class='tagline'>DEALS MADE EASY</h2>
		<p>Sign up to shop.</p>
		<input class='user-signup' name ='email' autocomplete='on' type="email" placeholder="Enter email address" required>
		<button class='signup-button' type='submit'>CONTINUE</button>
		<p id='terms-of-use'>By signing up, you agree to Dealr's Terms of Use</p>
		
		<div id='sign-up-footer'>
			<span>Already a member?</span>
			<span class='sign-in-link'>Sign in</span>
			<span class='wingdings'>4</span>
		</div>		
	</template>

	<template id='login-modal'>
		<h2 class='tagline'>ALREADY A MEMBER?</h2>
		<h2 class='tagline'>SIGN IN.</h2>
		<input class='user-signup' name ='email' autocomplete='on' type="email" placeholder="Enter email address" required>
		<input class='user-signup' name ='password' autocomplete='on' type="password" placeholder="Enter password" required>
		<button class='signup-button' type='submit'>SIGN IN</button>
		
		<div id='login-footer'>
			<span>NOT A MEMBER?</span>
			<span class='sign-in-link'>Sign up now</span>
			<span class='wingdings'>4</span>
		</div>
	</template>

	<template id='sign-up-form'>
		<h2 class='tagline'>ALMOST THERE.</h2>
		<p>Just a little more info.</p>
		<input class='user-signup' name ='first-name' autocomplete='on' type="text" placeholder="Enter first name" required>
		<input class='user-signup' name ='last-name' autocomplete='on' type="text" placeholder="Enter last name" required>
		<input class='user-signup' name ='zipcode' autocomplete='on' type="text" placeholder="Enter zipcode" required>
		<input class='user-signup' name ='password' autocomplete='on' type="password" placeholder="Enter password" required>
		<button class='signup-button' type='submit'>START SHOPPING</button>
		
		<div id='sign-up-footer'>
			<span>Already a member?</span>
			<span class='sign-in-link'>Sign in</span>
			<span class='wingdings'>4</span>
		</div>		
	</template>


	<!-- <%= yield %> -->

	<div id='deals-container'>
		<section id='display'></section>
	</div>

</body>
</html>
